.header {
    display: flex;
    height: 70px;
    font-size: larger;
    padding: 10px;
    color: white;
    background-color: black;
}
.heading {
    font-size: x-large;
    margin: auto 0;
    margin-left: 20px;
    display: flex;
    text-align: center;
    width: 70%;
}
.links {
    width: 30%;
    margin: auto 0;
    display: flex;
    justify-content:space-evenly
}

@media (max-width: 960px) {
    .header {
      flex-direction: column;
      height: auto;
      padding: 20px;
    }
  
    .heading {
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
    }
  
    .links {
        display: flex;
      margin-top: 20px;
      width: 100%;
      gap : 20px;
      justify-content: center;
    }
    .switch {
        margin-bottom: 10px;
    }
    .links a {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }
    .media {
        gap: 20px
    }
  
    .links > *:last-child {
      margin-bottom: 0;
    }
  }
  


 